body {
    margin: 0px;
    padding: 0px;
}


.header {
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    padding-left: 8px;
    border-bottom: 1px solid #E5E5E5;
    position: fixed;
    margin-top: 0px !important;
}

#brand {
    float: left;
    height: 50px;
    margin-top: -8px;
}

#footer-brand {
    float: left;
    height: 50px;
    width: inherit;
    margin-top: -8px;
    text-align: center;
}

#actions {
    float: right;
    height: 50px;
    width: 15%;
    margin-top: 16px;
}

#quit-button {
    float: right;
}

.photo-list {
    width: 100%;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
}

.content {
    padding: 0px;
}

.table-row {
    font: 400 12px/1.5 "Open Sans", sans-serif;
    background: #fff;
    border-bottom: 1px solid #E5E5E5;
    padding: 16px;
    padding-bottom: 0px;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.table-row p {
    color: #C5C5C5;
}

.table-row a {
    padding-left: 8px;
    display: inherit;
}

.date-added {
    margin-top: 0px;
    padding-left: 8px;
    display: inherit;
}

.thumbnail {
    width: auto;
    height: 40px;
    float: left;
}

.img-container {
    height: 100%;
    width: 50px;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.fa-cog {
    cursor: pointer;
}

.fa-cog:hover {
    opacity: 0.5;
}

.title {
    vertical-align: top;
    font-family: lato, sans-serif;
    font-weight: 200;
}

p#version {
    font-family: "Courier New";
    color: #595959;
}

.file-menu-button {
    width: 15%;
    float: right;
    color: #999999;
}

.file-menu-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.filename {
    font-family: lato, sans-serif;
    font-weight: 800;
    padding-left: 8px;
    display: inherit;
    margin: 0px;
    color: 7F7F7F;    
}

#no-images-text {
    color: gray;
    text-align: center;
}